html {
    overflow: auto;
}
body {
    background-color: #36587F;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 70px 70px auto 70px;
    grid-template-rows: 90px auto;
    grid-template-areas:
      "prev next current close"
      "calendar calendar calendar calendar";
}
a {
    color: #DDD;
    text-decoration: none;
}

.va-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.control {
    text-align: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-weight: bold;
        font-size: 2rem;

        &:hover {
            font-size: 2.5rem;
        }
    }
}

#prev {
    grid-area: prev;
}
#next {
    grid-area: next;
}
#current {
    grid-area: current;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #DDD;
    padding-right: 70px;

    span {
        padding: 0 5px;
    }
}
#close {
    grid-area: close;
    display: none;
}
#calendar {
    grid-area: calendar;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;

    &.month ul:not(.active) {
        display: none;
    }

    &.year ul.month,
    &.month ul.active {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 2px;
        cursor: pointer;

        &:hover {
            li {
                background-color: seagreen !important;
            }
        }

        li {
            background-color: lightseagreen;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 1px;
            color: #FFF;

            &.past {
                background-color: steelblue;
            }

            &:hover {
                background-color: seagreen;
            }

            &:empty {
                background-color: transparent !important;
                cursor: default !important;
            }
        }
    }
}